Source: python-rackspace-cloudfiles
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-dev (>= 2.5), python-support, python-setuptools
XS-Python-Version: >= 2.5
Standards-Version: 3.8.4

Package: python-rackspace-cloudfiles
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pkg-resources
XB-Python-Version: ${python:Versions}
Description: Python language bindings for Cloud Files API
 Cloud Files provides unlimited online storage for files and media. 
 And, in an industry first, you can deliver that content to your users 
 at blazing speeds over Limelight Network's content delivery network (CDN). 
