Source: python-simplejson
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-dev (>= 2.5), python-support, python-setuptools
XS-Python-Version: >= 2.5
Standards-Version: 3.8.4

Package: python-simplejson
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: Simple, fast, extensible JSON encoder/decoder for Python
 simplejson is a simple, fast, complete, correct and extensible JSON <http://json.org>
 encoder and decoder for Python 2.5+ and Python 3.3+. It is pure Python code with
 no dependencies, but includes an optional C extension for a serious speed boost.
