Source: pytz
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-dev (>= 2.5), python-support, python-setuptools
XS-Python-Version: >= 2.5
Standards-Version: 3.8.4

Package: python-pytz
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: World timezone definitions, modern and historical
 pytz brings the Olson tz database into Python. This library allows accurate and cross
 platform timezone calculations using Python 2.4 or higher. It also solves the issue of 
 ambiguous times at the end of daylight savings, which you can read more about in
 the Python Library Reference (datetime.tzinfo)
