Source: python-lettuce
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, python-setuptools (>= 0.6.10), debhelper (>= 7), python-all (>= 2.6), python-all-dev (>= 2.6), python-support (>= 1.0.0)
Standards-Version: 3.8.4

Package: python-lettuce
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
  python-sure,
  python-fuzzywuzzy,
  python-ipdb,
  ipython
XB-Python-Version: ${python:Versions}
Description: Behaviour Driven Development for python
 Behaviour Driven Development for python

