Source: python-wsgi-intercept
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-dev (>= 2.5), python-support, python-setuptools
XS-Python-Version: >= 2.5
Standards-Version: 3.8.4

Package: python-wsgi-intercept
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pkg-resources
XB-Python-Version: ${python:Versions}
Description: Installs a WSGI application in place of a real URI for testing
 Testing a WSGI application normally involves starting a server at a local host and port, then pointing your test code to that address. Instead, this library lets you intercept calls to any specific host/port combination and redirect them into a WSGI application importable by your test program. Thus, you can avoid spawning multiple processes or threads to test your Web app
