Source: lxml
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, python-setuptools (>= 0.6.10), debhelper (>= 7), python-all (>= 2.6), python-all-dev (>= 2.6), python-support (>= 1.0.0)
Standards-Version: 3.8.4

Package: python-lxml
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
XB-Python-Version: ${python:Versions}
Description: Powerful and Pythonic XML processing library combining libxml2/libxslt with the ElementTree API
 lxml is a Pythonic, mature binding for the libxml2 and libxslt libraries.
 It provides safe and convenient access to these libraries using the ElementTree API

