Source: euca2ools
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, python-setuptools (>= 0.6.10), debhelper (>= 7), python-all (>= 2.6), python-all-dev (>= 2.6), python-support (>= 1.0.0)
Standards-Version: 3.8.4

Package: python-euca2ools
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-lxml, python-requestbuilder, python-requests, python-six
XB-Python-Version: ${python:Versions}
Description: Euca2ools provide the functionality of AWS's REST-based and Query-based APIs 
 Euca2ools are command line tools used to interact with Amazon Web
 Services (AWS) as well as other services that are compatible with AWS,
 such as Eucalyptus.  They aim to use the same input as similar tools
 provided by AWS for each service individually along with several
 enhancements that make them easier to use against both AWS and
 Eucalyptus
