Source: python-cryptography
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-support (>= 0.5.3), python-all-dev (>= 2.6), python-setuptools, libffi-dev
XS-Python-Version: >= 2.6
Standards-Version: 3.8.4

Package: python-cryptography
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pkg-resources
XB-Python-Version: ${python:Versions}
Description: cryptography is a package which provides cryptographic recipes and primitives to Python 
 cryptography includes both high level recipes, and low level interfaces to common cryptographic 
 algorithms such as symmetric ciphers, message digests and key derivation functions.
