Source: pyopenssl
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-support (>= 0.5.3), python-all-dev (>= 2.6), python-setuptools
XS-Python-Version: >= 2.6
Standards-Version: 3.8.4

Package: python-openssl
Architecture: all
Depends: ${misc:Depends}, python (>=2.6), libc6 (>=2.4), libssl0.9.8, libffi-dev, python-six
XB-Python-Version: >= 2.6, < 3.0
Description: Python wrapper around the OpenSSL library
 High-level wrapper around a subset of the OpenSSL library, includes
 .
   * SSL.Connection objects, wrapping the methods of Python's portable
     sockets
   * Callbacks written in Python
   * Extensive error-handling mechanism, mirroring OpenSSL's error
     codes
 .
 A lot of the object methods do nothing more than calling a
 corresponding function in the OpenSSL library.

