Source: python-mysql
Section: python
Priority: extra
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, debhelper (>= 6), python (>= 2.5), python-dev (>= 2.5), python-support (>= 0.7.5)
Standards-Version: 3.7.3
Homepage: https://github.com/petehunt/PyMySQL

Package: python-mysql
Architecture: all 
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Description: A pure python MySQL client
 A pure python MySQL client
