Source: ipython
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-dev (>= 2.5), python-support, python-setuptools
XS-Python-Version: >= 2.5
Standards-Version: 3.8.4

Package: ipython
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pkg-resources
XB-Python-Version: ${python:Versions}
Description: IPython: Productive Interactive Computing
 IPython provides a rich toolkit to help you make the most out of using Python interactively. Its main components are:
 Powerful interactive Python shells (terminal- and Qt-based).
 A web-based interactive notebook environment with all shell features plus support for embedded figures, animations and rich media.
 Support for interactive data visualization and use of GUI toolkits.
 Flexible, embeddable interpreters to load into your own projects.
 A high-performance library for high level and interactive parallel computing that works in multicore systems, clusters, supercomputing and cloud scenarios.
