Source: prettytable
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Sandro Tosi <morph@debian.org>
Build-Depends: debhelper (>= 6), python, python-setuptools
Build-Depends-Indep: python-support (>= 0.7.5)
Standards-Version: 3.8.0
Homepage: http://code.google.com/p/prettytable/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/prettytable/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/prettytable/trunk/

Package: python-prettytable
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: library to represent tabular data in visually appealing ASCII tables
 PrettyTable is a simple Python library designed to make it quick and
 easy to represent tabular data in visually appealing ASCII tables. It
 was inspired by the ASCII tables used in the PostgreSQL shell
 psql. PrettyTable allows for selection of which columns are to be
 printed, independent alignment of columns (left or right justified or
 centred) and printing of "sub-tables" by specifying a row range.
