Source: pyasn1
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, python-setuptools (>= 0.6.10), debhelper (>= 7), python-all (>= 2.6),
    python-all-dev (>= 2.6), python-support (>= 1.0.0)
XS-Python-Version: >= 2.6
Standards-Version: 3.8.4

Package: python-pyasn1
Architecture: all
Depends: ${misc:Depends}, python (>=2.6)
XB-Python-Version: >= 2.6
Description: ASN.1 types and codecs
 This project is dedicated to implementation of ASN.1 types (concrete syntax)
 and codecs (transfer syntaxes) for Python programming environment. ASN.1
 compiler is planned for implementation in the future.
