Source: python-pymongo-test
Section: python
Priority: optional
Maintainer: Scalr Inc. <packages@scalr.net>
Build-Depends: cdbs, debhelper (>= 5.0.38), python-support (>= 0.5.3), python-all-dev (>= 2.6), python-setuptools
XS-Python-Version: >= 2.6
Standards-Version: 3.8.4

Package: python-pymongo-test
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pkg-resources
XB-Python-Version: >= 2.6
Description: Python driver for MongoDB <http://www.mongodb.org>
 The PyMongo distribution contains tools for interacting with MongoDB database from Python. The bson package is an implementation of the BSON format for Python. The pymongo package is a native Python driver for MongoDB. The gridfs package is a gridfs implementation on top of pymongo.
